<div class="container">
    <div id="pageContainer">
        <div class="row mtbox">
        {{#each model as |item|}}
            <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                <div class="box1">
                    <span class="li_heart"></span>
                    <h3>{{item.title}}</h3>
                </div>
                <p>{{item.content}}</p>
            </div>
        {{/each}}
        </div><!-- /row mt -->
      {{ outlet }}
    </div>
</div>

